{% extends 'base.html' %}
 {% block profileactive%}active{% endblock profileactive%}
{% block title %} Profile{% endblock title %} 

{% block body %}
  
<div class="header">

</div>

<div class="row">
  <div class="pleftcolumn">
    <div class="card">
      
<h2 style="text-align:center">User Profile</h2>

<div class="card">
           <a href="{{temp.image}}">
               <img class="proimg" src="{{temp.image}}" alt="Image" style="width:100%">
          </a>
  
  <p>Name: {{temp.name}}</p>
  <p>Address: {{temp.address}}</p>
  <p>Phone: {{temp.phone}}</p>
    <p>Email: {{temp.email}}</p>
  
  
   
  
</div>
    </div>
    
  </div>
   
  <div class="prightcolumn">
   {%for temp in a%}
    <div class="card">
      <h2>{{temp.title}}</h2>
      <h5>{{temp.pub_date}}</h5>
      <a href="{{temp.image}}">
      <img class="img" src="{{temp.image}}"alt="5 Terre" style="  display: block;
               margin-left: auto;
                  margin-right: auto;
                    width: auto;">
          </a>

      <p>{{temp.post}}</p>
         <form action="/blog_details" method ="post" id="Systemform2" >
     {% csrf_token %}
     
     <button type="Submit" class="fullbtn"name="System2" value="{{temp.id}}" form="Systemform2" class="read_more">read more</button>
    </form>

      
  {%endfor%}


    <div>
		<h1 class="text-center">Product</h1>
		<hr>
<div class="blogfull">
     {% for temp in b %}
     <div  class="blog">
     <center>
    <h4>{{temp.title}}</br></h4>
    <div class="image">
               <a href="{{temp.image}}">
               <img src="{{temp.image}}"class="w-100">
          </a>
					
				</div>
    <p class="text-center">Details: {{temp.details}}</p>
	<h5 class="text-center">Price: {{temp.price}}TK</h5>
 
    <c/enter>
  
    </div>
    {% endfor %}
    </div>



{% endblock body %}